@{ 
    ViewBag.PageTitle = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Globalization
@Html.Partial("_Menu")
<div class="conteudo">
    <h2>Ficha Técnica</h2>
    <div>
        @{
            if (!String.IsNullOrEmpty(Model.Imagem))
            {
                <img src="@Url.Content(Model.Imagem)" alt="imagem de perfil" width="300" height="500">
            }
        }
        <p>
            <strong>Nome:</strong> @Model.Nome <br>
            <strong>Nascimento:</strong> @(String.Format("{0} de {1} de {2}", Model.DataNascimento.Day, Model.DataNascimento.ToString("MMMM", new CultureInfo("pt-BR")), Model.DataNascimento.Year)) <br>
            <strong>Altura:</strong> @Model.Altura cm <br>
            <strong>Peso:</strong> @Model.Peso kg <br>
            <strong>Origem:</strong> @Model.Origem <br>
            <strong>Golpes especiais:</strong> @Model.GolpesEspeciais <br>
            <strong>Personagem oculto:</strong>@(Model.PersonagemOculto ? "Sim" : "Não") <br />
        </p>
    </div>
  
</div>

